<!DOCTYPE html>
<html>
  <head>
    <title>Noootes!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/8d9d868ad3.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%#= inline_svg("logo_grey.svg", class: "logotipo navbar-brand", style: "cursor: pointer;") %>
        <a class="navbar-brand" href="/">Noootes!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarColor01">
          <% if user_signed_in? %>
          <ul class="navbar-nav mr-auto mt-1">
            <li class="nav-item">
              <!-- <a class="nav-link" href="/notes/new">New note</a> -->
              <%= link_to 'New note', new_note_path, remote: true, "data-toggle" => "modal", "data-target" =>"#exampleModal",
              class: 'nav-link' %>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 justify-content-center">
            <input class="form-control mr-sm-2" id="search" data-remote="true" type="text" placeholder="Search note...">
          </form>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <b>User</b>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "Preferences", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
            </div>
          </div>
          <% else %>
          <ul class="navbar-nav align-items-center ml-auto">
            <li class="nav-item px-2">
              <%= link_to "Log in", new_user_session_path, class: "nav-link text-light txt-rem" %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary btn-lg" %>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">

      <!-- Alert: Danger -->
      <% if alert %>
      <script>
        bootoast.toast({
          message: "<%= alert %>",
          position: 'top-left',
          type: 'danger'
        });
      </script>
      <% end %>

      <% if notice %>
      <script>
        bootoast.toast({
          message: "<%= notice %>",
          position: 'top-left',
          type: 'success'
        });
      </script>
      <% end %>
      <%= yield %>
    </div>
  </body>

  <script>
    $(".logotipo").click(function(){
      var go_to_url = "/";
      window.open(go_to_url, '_self');
    });
  </script>

</html>
